@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* Main container */
.SignUp {
  text-align: center;
  background-color: #588661;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-top: 225px; 
  box-sizing: border-box;

  /* Background image  */
  background-image: url('../assets/green-ver3.jpg'); 

  background-size: 100% 100%; 
  background-position: center;
  background-repeat: no-repeat;
}

/* Image container  */
.image-container {
  display: none; 
}

.title {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-top: 255px; 
  color: #588661;
  position: absolute;
  top: 30px; 
}

/* Center the input container */
.input-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Text Field */
.custom-input {
  width: 40%; 
  max-width: 400px; 
  height: 17px;
  padding: 12px 15px;
  font-size: 16px; 
  font-family: 'Poppins', sans-serif;
  border: 3px solid #588661;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin-top: 25px;
  padding-left: 25px;
}

/* Text entered */
.custom-input:not(:placeholder-shown) {
  font-size: 14px; 
  font-family: 'Poppins', sans-serif;
  color: #588661; 
  font-weight: bold;
}

.custom-input:focus {
  border-color: #588661;
  outline: none;
  background-color: #fff;
}

/* Placeholder style */
::placeholder {
  color: #588661;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  font-weight: 500;
}

/* Hover effect */
.custom-input:hover {
  border-color: #45a049;
  box-shadow: 0 0 8px rgba(88, 134, 97, 0.5);
}


/* Login Button */
.login-btn {
  width: 40%;
  max-width: 200px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #588661;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 30px; 
  transition: background-color 0.3s ease-in-out;
}

/* Button hover effect */
.login-btn:hover {
  background-color: #72a77c;
}


/* Sign Up Text */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

/* Sign Up Link */
.signup-link {
  color: #588661;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.signup-link:hover {
  color: #45a049;
  text-decoration: underline;
}


